<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hilton</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="css/Carousel-Hero.css">
    <link rel="stylesheet" href="css/Footer-Dark.css">
    <link rel="stylesheet" href="css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/Responsive-Form.css">
    <link rel="stylesheet" href="css/Responsive-Form1.css">
    <link rel="stylesheet" href="css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/Team-Boxed.css">
    <link rel="stylesheet" href="css/Testimonials.css">
    <link rel="stylesheet" href="css/Pretty-Header.css">
    <script type="text/javascript"> $(function() { $('.container').rating()});</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="src/rating.js"></script>
    <script type="text/javascript" src="min/rating.js"></script>
    <link rel="stylesheet" href="src/rating.css" type="text/css" media="screen" title="Rating CSS">
    <link rel="stylesheet" href="min/rating.css" type="text/css" media="screen" title="Rating CSS">



</head>

<body data-spy="scroll" data-target="#navbar-e" data-offset="300">
    
    <div class="container" id="gallery">
        </br>
        </br>
    </div>


    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Products</h2>
                <p class="lead text-center text-capitalize">Spacious and captivating range of vrity, wareables and suits with sublime interiors and exteriors aesthetics</p>
            </div>


            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(1).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/1.jfif"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(2).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/2.jfif"></a>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(3).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/3.jfif"></a>
                    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(4).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/4.jfif"></a>
                    
                </div>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(5).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/5.jfif"></a>
                    <button type="button" class="btn btn-success">Add to cart</button>
                        
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(6).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/6.jfif"></a>
                   
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(7).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/7.jfif"></a>
                    <button type="button" class="btn btn-success">Add to cart</button>
                        
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="img/Gallery/hotel%20(8).jpg" data-lightbox="photos"><img class="img-fluid" src="img/Gallery/8.jfif"></a>
                    
                </div>
            </div>
            
            </div>





        </div>
    </div>


    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-md-3 item text">
                        <h3>EAZY Shop Information</h3>
                        <p>No Pets Are Allowed</p>
                        <p>Visa Assistance Available</p>
                        <p>Customizable Packages</p>
                        <p>Over 20 countries</p>

                    </div>
                    <div class="col-md-6 item text">
                        <h3>Location</h3>
                        <p>The Walk</p>
                        <p>Jumeirah Beach Residence</p>
                        <p>Post Box 2431</p>
                        <p>Dubai,UAE</p>
                    </div>
                    <!--div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div-->
                </div>
                <p class="copyright">© Copyright 2019</p>
            </div>
        </footer>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>